@charset "UTF-8";

html, body {
    height: 100%;
    background: #222551; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #222551 0%, #232348 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #222551 0%,#232348 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #222551 0%,#232348 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222551', endColorstr='#232348',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#login {
	max-width: 600px;
    height: 100%;
    padding: 0 8% 50px;
	margin: 0 auto;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

#login .login-mark {
	margin-bottom: 40px;
}

#login .login-mark h1 {
	width: 200px;
	margin:0 auto;
}

#login .login-mark h1 a {
	display: block;
}

#login .login-mark h1 span {
	display: block;
	font-size: 18px;
	text-align: center;
}

#login .login-box {
	width: 100%;
}

#login .login-box .inputbox li {
	position: relative;
	margin-bottom: 10px;
}

#login .login-box .inputbox li .login-input {
	display: block;
	width: 100%;
	height: 62px;
	padding: 0 10px 0 60px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0.3);
	border-radius: 5px;
    color: #fff;
}

#login .login-box .inputbox li .login-input::-webkit-input-placeholder {color: #4A4C6A;}
#login .login-box .inputbox li .login-input:-moz-placeholder {color: #4A4C6A;}
#login .login-box .inputbox li .login-input::-moz-placeholder {color: #4A4C6A;}
#login .login-box .inputbox li .login-input:-ms-input-placeholder {color: #4A4C6A;}

#login .login-box .inputbox li span {
	position: absolute;
	top: 18px;
	left: 20px;
	width: 22px;
	height: 26px;
}

#login .login-box .floats li label,
#login .login-box .floats li a {
	color: #fff;
    font-size: 14px;
}

#login .login-box .btnarea {
    margin-top: 30px;
}

#login .login-box .btnarea .btns {
	display: block;
	height: 60px;
	line-height: 58px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	letter-spacing: 1pt;
}

#login .login-box .signup-area {
    margin-top: 20px;
    text-align: center;
}

#login .login-box .signup-area a.signup-btn {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

#login .ion-mark {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0.5;
}

@media screen and (min-width:639px) {
    #login {
        max-width: 500px;
        padding: 0 0 100px;
    }

    #login .login-box .inputbox li .login-input {
        padding: 0 20px 0 80px;
        border-radius: 31px;
    }

    #login .login-box .inputbox li span {
        left: 40px;
    }

    #login .login-box .floats {
        padding: 0 40px;
    }

    #login .login-box .btnarea .btns {
        border-radius: 30px;
    }

    #login .ion-mark {
        bottom: 60px;
    }
}